.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-white, 0.6),
      rgba($color-primary-complement, 0.3)
    ),
    url(../img/rosary_background.jpg);
  background-size: cover;
  background-position: right;
  position: relative;

  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
