$color-grey-light-1: #f3f3f3;
$color-grey-light-2: #eee;

$color-grey: #777777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-dark-white: #cecece;

$color-black: #000;
$color-subtle-black: #303030;

$color-primary-light: #cb683d;
$color-primary: #5c2610;
$color-primary-dark: #803e22;

$color-primary-complement: #00a892;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$gradient-default: linear-gradient(
  to right bottom,
  rgba($color-white, 0.7),
  rgba($color-primary-complement, 0.4)
);
