.prayer-cont {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  border: 3px solid $color-primary;
  border-radius: 5px;
  box-shadow: 0rem 0.5rem 1rem rgba($color-black, 0.2);
  padding: 3rem;

  &__icon {
    font-size: 10rem;
    color: $color-primary;
    display: block;
  }

  &__text {
    font-size: 1.7rem;
    color: $color-grey-dark-3;
    line-height: 1.9;
    word-spacing: 1px;
  }
}
