.prayer-cont {
  width: 70%;
  margin: 0 auto;
  border: 3px solid $color-primary;
  border-radius: 5px;
  box-shadow: 0rem 0.5rem 1rem rgba($color-black, 0.2);

  &__icon {
    font-size: 10rem;
    color: $color-primary;
    display: block;
  }

  &__text {
    padding: 1rem 5rem 8rem 5rem;
    font-size: 2rem;
    color: $color-grey-dark-3;
    line-height: 1.9;
    word-spacing: 1px;
  }
}
